@model _0820_Brokers.Models.BrokerModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BrokerModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditBroker">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Broker ID</label>
                <input asp-for="BrokerId" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
